/* work sans google font */
font-family: 'Work Sans', sans-serif;

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;

}

.text-light-gray {
    color: #727272;
}

* {
    padding: 0px;
    margin: 0px;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background-color: #ff900e;
    padding: 20px 25px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    border: 0px;
}

.section-title {
    font-size: 50px;
    font-weight: 700;
    color: #131313;
   
}

/* header releted styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner releted styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 60px;
}

.text-light-gray {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 45px;
}

.teams-title .text-light-gray {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-Our {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
    margin-top: 24px;
}

/* facts styles */
.section-title-1 {
    margin-top: 110px;
    font-size: 50px;
    font-weight: 700;
    color: #131313;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponspors styles */
.Sponspors {
    text-align: center;
}

.Sponspors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.features {
    display: flex;
    margin-top: 140px;

}

.features-container-title {
    font-size: 45px;
    font-weight: 700;
    margin-right: 130px;
}

.features-cards-container {
    width: 586px;
    height: 140px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-cards-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;

}

.text-light-gray-1 {
    margin-top: 7px;
    color: #727272;
}


/* footer section start */
.footer-container {
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 0px auto;
    margin-bottom: 200px;

}

.footer-description {
    font-size: 30px;
    color: #424242;
}



/* responsive media quary */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .Sponspors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

}

/* tablet or mediym devices */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .teams-container,
    .Sponspors-img-container {
        flex-direction: column
    }

    header {
        padding: 50px;
    }

}